<h2>
  Admin screen.
</h2>
<div class="row">
<div class="col-2">
  <div class="" id="collapseExample">
    <ul class="nav flex-column" id="exCollapsingNavbar3">
      <li class="nav-item ">
        <a class=" btn-block btn-lg btn-outline-primary" routerLink="/admin/bestellingen" [routerLinkActive]="['active']">Bestellingen</a>
      </li>
      <li class="nav-item">
        <a class=" btn-block btn-lg btn-outline-primary"  routerLink="/admin/klanten" [routerLinkActive]="['active']">Klanten</a>
      </li>
      <li class="nav-item">
        <a class=" btn-block btn-lg btn-outline-primary" routerLink="/admin/shoots" [routerLinkActive]="['active']">Shoots</a>
      </li>

    </ul>
  </div>
</div>
<div class="col-10">
  <router-outlet></router-outlet>


</div>

</div>
