.Margin{
    margin: 0px;
}

.datalist-noborder .ui-widget-content {
border: none;
  list-style-type: none;

}

ul{
      list-style-type: none;
             padding:0;

}

li{
      list-style-type: none;
       margin:0;
}