/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";


#headerLogo{
  width: 200px;
  height: 45px;
  background-image: url("/assets/transparantgroot500pix.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat    ;
}

.navbar-nav{
  float:right!important;
  font-size: 1.2em;

}
